/* styling  */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(22, 24, 24);
}
h1 {
  text-align: center;
  color: rgb(21, 148, 199);
}
.container {
  padding: 5%;
}

/* canvas */
#canvas {
  border-radius: 5px;
  width: 100%;
  height: 50vh;
  margin: auto;
  padding: 10px;
  background: #ffffff;
}

/* buttons */
.buttons {
  display: flex;
  justify-content: center;
}
.buttons span {
  padding: 2%;
}
.control-btn > i {
  color: rgb(21, 148, 199);
  cursor: pointer;
}
